/* .field {
  display: inline-block;
}

.field__category {
  position: relative;
  display: inline-block;
}

.categoryMenuDropdown {
  background: lightcoral;
}

.categoryMenu {
  background: lightgray;
}

.categoryMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: lightblue;
  width: 100%;
}

.categoryMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .dropdown {
  display: none;
} */

/* .field .field__dropdown {
  background: green;
}

.open {
  display: block;
  background: red;
} */

.recordFormInner {
  display: flex;
  align-items: flex-start;
}

.select {
  display: inline-block;
  position: relative;
}

.select .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: lightgreen;
  width: 100%;
}

.dropdown li {
  padding: 10px;
}

.dropdown li + li {
  border-top: 1px solid #333;
}
.dropdown .dropdownItem {
  background: lightseagreen;
  position: relative;
}

.dropdown .dropdownItemOptions {
  background: lightslategray;
  /* position: absolute;
  left: 100%;
  top: 0;
  width: 100%; */
  /* display: none; */
}

.dropdown .dropdownItemOptions .active {
  /* display: block; */
  background: yellow;
}
