/* .field {
  display: inline-block;
}

.field__category {
  position: relative;
  display: inline-block;
}

.categoryMenuDropdown {
  background: lightcoral;
}

.categoryMenu {
  background: lightgray;
}

.categoryMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: lightblue;
  width: 100%;
}

.categoryMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .dropdown {
  display: none;
} */

/* .field .field__dropdown {
  background: green;
}

.open {
  display: block;
  background: red;
} */

.recordFormInner {
  display: flex;
  align-items: flex-start;
}
